.Badges__list-container {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
    width: 80%;
}

.Badges__display-image {
    align-self: center;
    margin-left: 4px;
    margin-right: 0px;
    margin-bottom: 4px;  
}

.Badges__display-image img {
    border-radius: 48px;
}

.Badges__display-content {
    align-self: left;
    width: 100%;
    margin-top: 4px;
    margin-left: 4px;
    padding-left: 10px;
    text-align: left;
}

.Badges__display-content p{
    margin: 4px;
}

.Badges__twitter-logo {
    width: 40px;
}

.Badges__twitter-text{
    padding-top: 0px;
    margin-top: 0px;
    color: blue;
}